h1 {
    font-size: 2.1vw;
}
h2 {
    font-size: 1.3vw;
}
h4 {
     font-size: 1vw;
 }
h5 {
    font-size: 1vw;
}
h6 {
    font-size: 0.75vw;
    padding-bottom: 2.5%;
}
p {
    font-size: 0.75vw;
}
.App {
    /*min-width: 20%;*/
    font-family: 'Graphik-Regular';
}
.Wrapper {
    width: 80%;
    max-width: 1000pt;
    margin-left: auto;
    margin-right: auto;
}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid rgb(243,189,48);
    background-color: rgb(243,189,48);
    padding: 0.5% 1% 0.5% 1%;
}
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 0.75vw;
}
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: rgb(218,163,19);
}
/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.logoBlack {
    padding: 0.3% 0 0 1%;
    width: 2.5%;
    height: auto;
}
.Image1 {
    height: 41vw;
    max-height: 687px;
    position: relative;
    text-align: center;
    color: white;
    padding: 5% 5% 0 5%;
    background-size: contain;
}
.Image2 {
    padding: 5% 10% 5% 10%;
    background-color: white;
    border-left: 0.5px solid #D8D8D8;
    border-right: 0.5px solid #D8D8D8;
}
.Image3 {
    padding: 5% 10% 5% 10%;
    background-color: rgb(243,189,48);
    height: 27vw;
}
.Image4 {
    height: 54.4vw;
    max-height: 907px;
    background-size: contain;
    transform: translate(0, -2.7%);
}
.Image5 {
    padding: 0 2% 0% 2%;
    background-color: rgb(243,189,48);
    height: 10vw;
    transform: translate(0, -15%);
}
.Paragraph1 {
    width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0, -20%);
}
.Paragraph2 {
    transform: translate(0, 50%);
}
.Text3 {
    float: left;
    transform: translate(0, 80%);
}
.Text4 {
    transform: translate(0, 120%);
    color: white;
    padding: 0 0 0 10%;
    width: 35%;
}
.Moviles1 {
     width: 45%;
     max-width: 400pt;
     height: auto;
     position: absolute;
     bottom: 0;
     display: block;
     margin-left: 22.5%;
 }
.Moviles2 {
    width: 100%;
    /*max-width: 400pt;*/
    /*min-width: 150pt;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.Slogan {
    width: 90%;
    padding-top: 10%;
}
.Slogan2 {
    transform: translate(0, -45%);
    width: 20%;
}
.LogoApple {
    margin: 0 3% 0 5%;
    width: 25%;
    transform: translate(0, -43%);
}
.LogoGoogle {
    margin: 0 3% 0 3%;
    width: 33%;
    transform: translate(0, -10%);
}
.column {
    width: 50%;
}
.column2 {
    float: left;
    width: 15%;
}
.Bubbles {
    float: left;
    width: 50%;
}
.Bubble {
    width: 60%;
}
.Bubble1 {
    transform: translate(40%, -100%);
}
.Bubble2 {
    transform: translate(-8%, -90%);
}
.Bubble3 {
    transform: translate(50%, -110%);
}
.Bubble4 {
    transform: translate(-8%, -90%);
}
.Bubble5 {
    width: 25%;
    transform: translate(-115%, -40%);
}
.FAQs {
    padding: 2.5% 5% 5% 5%;
}
.titleFAQs {
    padding-bottom: 5%;
}
